<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="{{ asset('assets/css/timeTracker.css') }}">
    <title>Time Tracker</title>
</head>
<body>

<div class="container mt-5">
    <div class="form-group">
        <label for="nombre">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Task name"/>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" id="startButton">Start</button>
        <button class="btn btn-danger" id="stopButton" disabled>Stop</button>
    </div>

    <div class="alert alert-info mt-3" role="alert" id="timerDisplay">00:00:00</div>
</div>

<div class="container mt-5">
    <h1>Tasks list</h1>

    {% if tasks is not empty %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Total Time</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ (task.totalTime/1000) }} s</td>
                    <td>{{ task.startDate|date('Y-m-d H:i:s') }}</td>
                    <td>{{ task.endDate|date('Y-m-d H:i:s') }}</td>
                    <td>{{ task.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>There's no tasks.</p>
    {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script src="{{ asset('assets/js/timeTracker.js') }}"></script>
</body>
</html>
